[submodule "embeddedSystem/lib/ESPAsyncWebServer"]
	path = embeddedSystem/lib/ESPAsyncWebServer
	url = https://github.com/me-no-dev/ESPAsyncWebServer.git
[submodule "embeddedSystem/lib/AsyncTCP"]
	path = embeddedSystem/lib/AsyncTCP
	url = https://github.com/me-no-dev/AsyncTCP.git
